<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--引入外部的properties文件  -->
	<properties resource="db.properties"></properties>
	<!--引入日志功能  -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<!--设置类型别名  -->
	<typeAliases>
		<!-- <typeAlias type="com.sengedou.bean.UserBean" alias="user"/> -->
		<!--设置包下面的类名为别名-->
		<package name="com.sengedou.bean"/>
	</typeAliases>
	<!--配置数据库环境 -->
  <environments default="development">
    <environment id="development">
    	<!--事物管理器默认为JDBC的事物管理器 -->
      <transactionManager type="JDBC"/>
      <!--数据源：连接数据库的配置信息, POOLED使用默认mybatis连接池 -->
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <!--引入sql映射文件  -->
  <mappers>
    <mapper resource="com/sengedou/bean/UserMapper.xml"/>
    <mapper resource="com/sengedou/bean/StudentMapper.xml"/>
    <mapper resource="com/sengedou/bean/ClassMapper.xml"/>
  </mappers>
</configuration>