<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!--区分sql块，不同文件中的sql语句id可能重复，namespace一般写文件全路径,mapper标签只能一个  -->
 <mapper namespace="com.sengedou.bean.ClassBean">
 	
 	<select id="findById" parameterType="int" resultMap="map">
 		select * from class  inner join student  on s_c_id=c_id where c_id=#{id}; 
 	</select>
 	
 	<!--专门处理数据转化 -->
 	<resultMap type="ClassBean" id="map">
 		<!--只有ID使用此标签 -->
 		<id property="classId" column="c_id"></id>
 		<result property="className" column="c_name"></result>
 		<collection property="student" ofType="StudentBean">
 			<id property="studentId" column="s_id"></id>
 			<result property="studentName" column="s_name"></result>
 		</collection>
 	</resultMap>
 	
 </mapper>