<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!--区分sql块，不同文件中的sql语句id可能重复，namespace一般写文件全路径,mapper标签只能一个  -->
 <mapper namespace="com.sengedou.dao.IuserDao">
 	
 	<select id="findById" parameterType="int" resultType="UserBean">
 		select * from user1 where id=#{id}; 
 	</select>
 	
 	 <select id="findById2" parameterType="int" resultMap="map">
 		select * from user2 where u_id=#{id}; 
 	</select>
 	
 	<!--专门处理数据转化 -->
 	<resultMap type="UserBean" id="map">
 		<!--只有ID使用此标签 -->
 		<id property="id" column="u_id"></id>
 		<result property="name" column="u_name"></result>
 		<result property="pwd" column="u_pass"></result>
 	</resultMap>
 	
 	<select id="findAll" parameterType="int" resultType="UserBean">
 		select * from user; 
 	</select>
 	
 	<!-- #:默认采用预编译,$:sql拼接 -->
 	<insert id="add" parameterType="UserBean">
 		insert into user1(name,pwd) values(#{name},#{pwd});
 	</insert>
 	
 	<delete id="del" parameterType="int">
 		delete from user1 where id=#{id};
 	</delete>
 	
 	<update id="update" parameterType="UserBean">
 		update user1 set pwd=#{pwd} where id =#{id}
 	</update>
 	
 	
 	<select id="find1" parameterType="UserBean" resultType="UserBean">
 		select * from user1
 		<where>
 			<choose>
 			<when test="id!=0">
 			id=#{id}
 			</when>
 			<when test="name!=null">
 			and name=#{name}
 			</when>
 			<otherwise>
 			and name='li';
 			</otherwise>
 			</choose>
 		</where>
 	</select>
 	
 	<update id="update1" parameterType="UserBean">
 		update user1 
 		<set>
 			<if test="name!=null">
 				name=#{name},
 			</if>
 			<if test="age!=0">
 				age=#{age},
 			</if>
 			id=#{id}
 		</set>
 		where id=#{id};
 	</update>
 	
 	<insert id="insert1" parameterType="java.util.List">
 	insert into user1(name,pwd,age) values
 	<foreach item="user" index="index" collection="list" separator=",">
 		(#{user.name},#{user.pwd},#{user.age})
 	</foreach>
 	</insert>
 	
 	<delete id="delete1" parameterType="java.util.List">
 	delete from user1 where id in 
 	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
 		#{item}
 	</foreach>
 	</delete>
 	
 	
 </mapper>